/* Fonts */

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v11/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* Universal Styles */

body {
    
    background: url('../../wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.App {
    
    color: #ffffffbe;
    font-family: 'Rubik';
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

h1 {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.15;
    letter-spacing: 1px;
}

span {
    color: #6a04ee;
}

/* Header Styles */

.Header {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color:#0d1117;
    box-shadow: 0px 1px 10px #2d0364;
    z-index: 10;
}

.Logo {
    background-image: url("../../reddit_long2.png");
    background-size: cover;
    position: fixed;
    top: 8px;
    left: 12px;
    height: 45px;
    width: 131px;
}

.Logo:hover{
    filter: drop-shadow(0px 0px 2px #6610d6);
}

/* SearchBar */

.sbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    text-align: center;
    width: 30%;
    height: 32px;
    color: #e7e7e7;
    background-color: #181e27;
    border: 3px solid #4e04af;
}

.find-div{
    padding: 5px;
}

.find-link{
    height: 32px;
    width: 32px;
}

.find {
    /*
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #e7e7e7;
    height: 32px;
    */
    background-image: url("../PostsList/search.png");
    background-size: cover;
    height: 32px;
    width: 32px;
    border: 2px solid #4e04af;
}

.results-for, form {
    background-color:#0d1117c0;
    
}

.results-for{
    padding: 5px 0px;
    /*
    border: 3px solid #6a04ee;
    */
}

.results-for-div{
    text-align: center;
    width: 100%;
    color: #e7e7e7;
    box-shadow: 0px 0px 5px #2d0364;
}

/* Filter */

.filter-div{
    width: 100%;
    display: flex;
    
}

form{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px #2d0364;
}

label {
    display: flex;
    align-items: center;
}

.filter-div input, label, select {
    margin: 3px 0px;
}

.filter-div input{
    margin-right: 5px;
}

label, select{
    margin-left: 5px;
    color: #e7e7e7;
}

.label-select-div{
    display: flex;
}

select{
    font-family: 'Rubik';
    background-color: transparent;
    border-radius: 5px;
    outline: none;
}

option{
    color: #181e27;
}

.submit {
    font-family: 'Rubik';
    color: #e7e7e7;
    background-color: transparent;
    border: 2px solid #6a04ee;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    outline: none;
}

label p{
    font-size: 14px;
}

.submit:hover, .mainpage-filter button:hover, .typefilter-div button:hover {
    background-color:#0d1117c0;
}

/* Main page filter and Type Filter */

.mainpage-filter, .typefilter-div {
    width: 100%;
}

.mainpage-filter{
    box-shadow: 0px 0px 5px #2d0364;
}

.mainpage-filter form {
    margin-top: 0;
}

.mainpage-filter button, .typefilter-div button{
    font-family: 'Rubik';
    font-size: 18px;
    color: #e7e7e7;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.mainpage-filter button{
    width: 20%;
    border: none;
    
}

.typefilter-div button{
    width: 50%;
    border: none;
}

.typefilter-div form{
    box-shadow: 0px 0px 5px #2d0364;
}


/* Feed */

/*
.feed-div{
    width: 100%;
    display: flex;
    align-content: space-around;
    justify-content: center;
}
*/
.feed {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.feed-div{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.featured-subs{
    background-color:#0d1117c0;
    margin-left: 15px;
    height: 375px;
    box-shadow: 0px 0px 5px #2d0364;
}

.placeholder{
    width: 260px;
}

.subs{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.feat-sub{
    margin: 10px;
}

/* Posts List Content */

.votes {
    background-color:  #181e27;
    width: 35px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.arrow{
    background-image: url("../PostsList/arrow_up.png");
    background-size: cover;
    width: 24px;
    height: 15px;
}

.arrowUpMargin{
    margin-top: 10px;
}

.arrow2{
    background-image: url("../PostsList/arrow_down.png");
    background-size: cover;
    width: 24px;
    height: 15px;
}

.arrowDownMargin {
    margin-bottom: 10px;
}

.arrow:hover, .arrow2:hover{
    filter: drop-shadow(0px 0px 2px #6610d6);
}

.ups{
    margin: 10px 0px;
    font-size: 12px;
}

.post {
    background-color: #0d1117;
    margin: 10px 0px;
    width: 100%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #2d0364;
}

.single{
    width: 35%;
}

.posted, .check{
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}

.content {
    margin: 20px 18px;
    width: 90%;
}

.image, .gif, .video {
    margin-top: 23px;
    margin-bottom: 10px;
    width: 100%;
}

.yt{
    margin-top: 23px;
    margin-bottom: 18px;
    position: relative;
    padding-top: 56.25%;
    width: 100%;
}


.react-player {
    position: absolute;
    top: 0;
    left: 0;
}


.link {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.url {
    margin-top: 15px;
    color: #ffffffbe;
    font-size: 13px;
    width: 140px;
}
.thumbnail {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 78px;
    width: 140px;
}

.check-div {
    width: 151px;
}

.check{
    text-decoration: none;
}

.check p:hover, .find:hover {
    background-color:  #141820;
}

.check p {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0px;
    color: #e7e7e7;
    width: 151px;
    border: 2px solid #4e04af;
    
}

/* Single Post with comments */
.singlepost{
    width: 100% !important;
    line-height: 1.15;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.self-text{
    font-family: 'Titillium Web' !important;
    margin-top: 10px;
    line-height: 1.15;
    letter-spacing: 2px;
    width: 100%;
}

.self-text a, .markdown-comment a {
    color: #6a04ee;
}

.comment-div{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-content: self-end;
}

.comments {
    font-family: 'Titillium Web' !important;
    width: 35%;
}

.comment {
    font-size: 16px;
    margin: 10px 0px;
    background-color: #181e27;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #2d0364;
}

.comment-ups{
    height: 16px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.upmargin{
    margin: 0px 5px;
}

.comment-creator {
    margin-bottom: 10px;
}

.comment-creator span, .subreddit span{
    text-align: center;
    background-color: #0d1117;
    padding: 0px 9px;
}

.comment-border{
    width: 35px !important;
    background-color: #0d1117;
}

.comment-content{
    margin: 10px 18px;
    width: 90% !important;
}

.award, .awards, .author_awards{
    display: flex;
}

.awards {
    margin-left: 8px;
    flex-wrap: wrap;
}

.award{
    font-family: 'Titillium Web' !important;
    margin-right: 4px;
}

.author_awards{
    margin-top: 5px;
    flex-wrap: wrap;
}

/* Reply */

.reply {
    margin-top: 0px;
    width: 94% !important;
    margin-left: auto;
    border-left: 3px dotted #2d0364;
}

.answer {
    margin-top: 0px;
    background-color: #10151d;
}

.show-replies{
    font-family: 'Rubik';
    font-size: 14px;
    width: 110px;
    text-align: center;
    margin-top: -6px;
    margin-bottom: 5px;
    margin-left: 35px;
    color: #e7e7e7;
    border: 2px solid #6a04ee;
    background-color: #0d111794;
    cursor: pointer;
    border-radius: 5px;
}

.show-replies:hover {
    background-color: #0d1117c4;
}

/* SubReddit list */

.subreddit{
    margin-top: 10px;
    width: 100%;
    display: flex;
    background-color: #0d1117d8;
    line-height: 1.15;
    letter-spacing: 1px;
}

.to-sub-posts{
    color: #ffffffbe;
    text-decoration: none;
}

.to-sub-posts:hover {
    color: #6a04ee;
}

.sub-image-div{
    background-color: #0d1117;
}

.img-skeleton{
    margin: 12px 0px;
}

.subreddit img{
    margin: 12px 5px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.sub-name, .sub-members{
    margin: 0px 15px;
}

.sub-name{
    font-size: 18px;
    margin-top: 15px;
}

.sub-members{
    margin-top: 5px;
}

.sub-desc{
    margin: 15px 15px;
}

.to-sub-posts p {
    display: inline-block;
}

/*
.feat-sub-list-heading{
    color: #6a04ee;
    text-align: center;
}
*/