/* 768px width */

@media only screen and (max-width: 768px){
    .Logo {
        background-image: url("../../redditheader5.png");
        width: 45px;
    }
    
    .post {
        width: 90%;
    }

    .comments{
        width: 90%;
    }

    .results-for-div{
        width: 90%;
    }

    .filter-div{
        width: 90%;
    }

}