/* 768px width */

@media only screen and (max-width: 768px){
    .Logo {
        background-image: url("../../redditheader5.png");
        width: 45px;
    }
    
    .post {
        width: 90%;
    }

    .comments{
        width: 90%;
    }

    .results-for-div{
        width: 90%;
    }

    .filter-div{
        width: 90%;
    }

    .mainpage-filter, .typefilter-div {
        width: 90%;
    }

    .feed-div{
        width: 100%;
    }

    .featured-subs, .placeholder{
        display: none;
    }

    .subreddit{
        width: 90%;
    }

    .mainpage-filter button{
        font-size: 15px;
    }
    
}

@media only screen and (min-width: 769px) and (max-width: 1280px){
    .post {
        width: 60%;
    }

    .comments{
        width: 60%;
    }

    .results-for-div{
        width: 60%;
    }

    .filter-div{
        width: 60%;
    }

    .mainpage-filter, .typefilter-div {
        width: 60%;
    }

    .feed-div{
        width: 100%;
    }

    .featured-subs, .placeholder{
        display: none;
    }

    .subreddit{
        width: 60%;
    }
}